<template>
    <div>
    <navtop />
        <section class="hero is-fullheight">
            <div class="hero-body">
                <router-view></router-view>
            </div>

            <div class="hero-foot">
                <footbot />
            </div>
        </section>
    </div>
</template>

<script>
import navtop from './navtop'
import footbot from './footbot'

export default {
    components: { navtop, footbot }
}
</script>
