<template>
    <div class="container">

        <b-loading :is-full-page="true" v-model="loading" />

        <div class="columns is-multiline">
            <div class="column is-4">
                <h3 class="is-size-2">Favoritos</h3>
            </div>
            <div class="column is-8" style="padding-top: 25px;">
                <b-button type="is-primary" @click="goBack">Regresar</b-button>
            </div>
        </div>
       
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(favorite, i) in favorites" 
                    :key="favorite.id">
                    <td><ik-image :src="favorite.thumbnail" /></td>
                    <td>{{favorite.title}}</td>
                    <td>{{formatCurrency(favorite.price)}}</td>
                    <td><a :href="favorite.permalink" target="_blank">Link</a></td>
                    <td>
                        <div class="buttons">
                            <b-button type="is-danger"
                                icon-right="heart-broken"
                                @click="deleteFavorite(i)" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
import { formatCurrency } from '../helpers'

export default {
    mounted() {
        this.getFavorites()
    },
    data() {
        return {
            favorites: [],
            loading: false
        }
    },
    methods: {
        getFavorites() {
            this.loading = true
            window.axios.get('/favorites/get').then(response => {
                this.favorites = response.data
                this.loading = false
            }).catch(error => {
                console.log(error)
                this.loading = false
            })
        },
        deleteFavorite(index) {
            this.loading = true
            console.log(this.favorites[index])
            window.axios.post('/favorites/delete', {
                id: this.favorites[index]._id
            }).then(() => {
                this.$buefy.toast.open({
                    message: 'Favorito Borrado!',
                    type: 'is-success'
                })
                this.favorites.splice(index, 1)
                this.loading = false
            }).catch(error => {
                console.log(error)
                this.$buefy.toast.open({
                    message: 'Hay un error en el servidor!',
                    type: 'is-danger'
                })
                this.loading = false
            })
        },
        goBack() {
            this.$router.go(-1)
        },
        formatCurrency: formatCurrency
    }
}
</script>