<template>
    <div class="container">

        <b-loading :is-full-page="true" v-model="loading" />

        <div class="columns is-multiline">
            <div class="column is-4">
                <b-field>
                    <b-input placeholder="Buscar..."
                        type="search"
                        icon="search"
                        v-model="search">
                    </b-input>
                </b-field>
            </div>
            <div class="column is-4">
                <b-button type="is-primary" @click="goSearch">Buscar</b-button>
            </div>
            <div class="column is-4">
                <b-button type="is-primary is-light" @click="goFavorites">Favoritos</b-button>
            </div>
        </div>
        
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) in items" 
                    :key="item.id">
                    <td><ik-image :src="item.thumbnail" /></td>
                    <td>{{item.title}}</td>
                    <td>{{formatCurrency(item.price)}}</td>
                    <td><a :href="item.permalink" target="_blank">Link</a></td>
                    <td>
                        <div class="buttons">
                            <b-button type="is-danger"
                                icon-right="heart"
                                @click="saveFavorite(i)" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="buttons is-justify-content-center">
            <b-button type="is-default" v-if="hasPrev" @click="goPrev">Anterior</b-button>
            <b-button type="is-default" v-if="hasNext" @click="goNext">Siguiente</b-button>
        </div>

    </div>
</template>

<script>
import { formatCurrency } from '../helpers'

export default {
    mounted() {
        this.getItems()
    },
    data() {
        return {
            items: [],
            search: 'Xiaomi',
            loading: false,
            page: 0,
            paging: {
                total: 0,
                primary_results: 1000,
                offet: 0,
                limit: 50
            }
        }
    },
    computed: {
        hasPrev() {
            if (this.paging.offset > 0) {
                return true
            } else { return false }
        },
        hasNext() {
            if ((this.paging.limit * this.paging.offset) < this.paging.total) {
                return true
            } else { return false }
        }
    },
    methods: {
        getItems() {
            this.loading = true
            window.axios.post('/mercadolibre/search', { 
                search: this.search,
                offset: this.page
            }).then(response => {
                this.items = response.data.results
                this.paging = response.data.paging
                this.loading = false
            }).catch(error => {
                console.log(error)
                this.loading = false
                this.$buefy.toast.open({
                    message: 'Error en el servidor! (Refresh Token)',
                    type: 'is-danger'
                })
            })
        },
        saveFavorite(index) {
            this.loading = true
            window.axios.post('/favorites/create', {
                id_ml: this.items[index].id_ml,
                title: this.items[index].title,
                site_id: this.items[index].site_id,
                price: this.items[index].price,
                permalink: this.items[index].permalink,
                thumbnail: this.items[index].thumbnail
            }).then(() => {
                this.$buefy.toast.open({
                    message: 'Guardado en Favoritos!',
                    type: 'is-success'
                })
                this.loading = false
            }).catch(error => {
                console.log(error)
                this.$buefy.toast.open({
                    message: 'Error en el servidor!',
                    type: 'is-danger'
                })
                this.loading = false
            })
        },
        goSearch() {
            this.getItems()
        },
        goFavorites() {
            this.$router.push({ name: 'Favorites List' })
        },
        goPrev() {
            this.page--
            this.getItems()
        },
        goNext() {
            this.page++
            this.getItems()
        },
        formatCurrency: formatCurrency
    }
}
</script>