<template>
    <div>
        <b-loading :is-full-page="true" v-model="loading" />

        <b-navbar wrapper-class="container"
            :fixed-top="true"
            :transparent="false"
            type="is-primary">
            <template #brand>
                <b-navbar-item>
                    Practica Mercado Libre
                </b-navbar-item>
            </template>
            <template #start>
                <b-navbar-item href="#" @click="refreshToken">
                    Refresh Token
                </b-navbar-item>
            </template>
        </b-navbar>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false
        }
    },
    methods: {
        refreshToken() {
            this.loading = true
            window.axios.post('/mercadolibre/refresh').then(() => {
                this.$buefy.toast.open({
                    message: 'Token Actualizado!',
                    type: 'is-success'
                })
                this.loading = false
            }).catch(error => {
                console.log(error)
                this.$buefy.toast.open({
                    message: 'Error en el servidor!',
                    type: 'is-danger'
                })
                this.loading = false
            })
        }
    }
}
</script>